@using Entity
@using PagedList.Mvc
@model Domain.Query<Entity.Establecimiento>
<table class="table table-striped table-hover table-bordered table-condensed tabla small">
    <thead>
        <tr class="cabecera">
            <th> Nombre </th>
            <th> Ruc </th>
            <th>Acci&oacute;n</th>
    </thead>

    <tbody>
        @foreach (var item in Model.Elements)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Ruc)</td>
                <td>
                    <a href="/EncuestaEstadistica/Encuestas/@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver Encuestas" id="quitar-@item.Id" role="@item.Id" class="quitarw-btn">
                        <i class="color-black glyphicon glyphicon-search"></i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

@if (Model.Elements.Count == 0)
{
    <div class="no-elements-notification">
        No hay elementos para mostrar
    </div>
}
@Html.PagedListPager(Model.Elements, page => Url.Action("PageEstablecimientosEncuestaEstadistica", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)


<script type="text/javascript">
    $(document).ready(function () {
        $.InitTooltip();
    })
</script>

