<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--DATOS DE ACCESO A LA BASE DE DATOS DE PRODUCE
    <add key="dataSource" value="SRVSQLP01" />
    <add key="catalog" value="DB_GENERAL" />
    <add key="user" value="ora_encuesta_manu" />
    <add key="password" value="eG64aDZE" />-->

    <!--DATOS DE SERVIDOR DE CORREO LOCAL
    <add key="SmtpUser" value="noreply.nyt@gmail.com" />
    <add key="SmtpPassword" value="n0r3ply1234" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpSsl" value="true" />-->

    
    <add key="IdApp" value="33" />
    <add key="TipoApp" value="I" />
    <add key="ControllerAccesoDenegado" value="Seguridad" />
    <add key="ActionAccesoDenegado" value="AccesoDenegado" />
    
    <!--DATOS DE SERVIDOR DE CORREO PRODUCE-->
    <add key="SmtpUser" value="demi@produccion.gob.pe" />
    <add key="SmtpPassword" value="produccion" />
    <add key="SmtpHost" value="192.168.100.36" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpSsl" value="false" />

    <!--DESCRIPCION DE LAS VISTAS -->
    
    <!--VISTA UBIGEO-->
    <!--Nombre de la vista-->
    <add key="ubigeo" value="UBIGEO" />
    <!--Nombre del campo UBIGEO. ESTE CAMPO TIENE QUE SER SEGUN EL FORMATO DDPPdd, donde DD corresponde al codigo del departamento
    PP al codigo de la provincia y dd al codigo del distrito-->
    <add key="ubigeo.ubigeo" value="UBIGEO" />
    <!--Nombre del campo DEPARTAMENTO-->
    <add key="ubigeo.departamento" value="DEPARTAMENTO" />
    <!--Nombre del campo PROVINCIA-->
    <add key="ubigeo.provincia" value="PROVINCIA" />
    <!--Nombre del campo DISTRITO-->
    <add key="ubigeo.distrito" value="DISTRITO" />
    
    <!--VISTA vw_administrados-->
    <!--Nombre de la vista-->
    <add key="administrados" value="vw_administrados" />
    <!--Nombre del campo ID-->
    <add key="administrados.id" value="ID" />
    <!--Nombre del campo NOMBRES-->
    <add key="administrados.nombres" value="NOMBRES" />
    <!--Nombre del campo APELLIDOS-->
    <add key="administrados.apellidos" value="APELLIDOS" />
    <!--Nombre del campo NRO_DOCUMENTO -->
    <add key="administrados.numeroDocumento" value="NRO_DOCUMENTO" />

    <!--VISTA vw_usuarios_extranet-->
    <!--Nombre de la vista-->
    <add key="extranet" value="vw_usuarios_extranet" />
    <!--Nombre del campo ID_PER-->
    <add key="extranet.id" value="ID_PER" />
    <!--Nombre del campo NOMBRES-->
    <add key="extranet.nombres" value="NOMBRES" />
    <!--Nombre del campo APELLIDOS-->
    <add key="extranet.apellidos" value="APELLIDOS" />
    <!--Nombre del campo LOGIN -->
    <add key="extranet.login" value="LOGIN" />
    <!--Nombre del campo EMAIL-->
    <add key="extranet.email" value="EMAIL" />
   
    
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity" />
    </providers>-->
  </entityFramework>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle" />
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle"
       type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=7.4.147.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>-->
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/ModelContext.csdl|res://*/ModelContext.ssdl|res://*/ModelContext.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=VirtualW7)(PORT=1521)))(CONNECT_DATA =(SERVICE_NAME = XE)));User Id=EEEE;Password=$Sav2010;&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/ModelContext.csdl|res://*/ModelContext.ssdl|res://*/ModelContext.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=srvora04.produce.gob.pe)(PORT=1521)))(CONNECT_DATA =(SERVICE_NAME = oradesa)));User Id=usr_encuesta_manu;Password=eG64aDZE;POOLING=False;&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.1" newVersion="2.1.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>