@model Entity.ConsumoHarinaFideo
@using System.Globalization
@{
    ViewBag.Title = "Detalle del Consumo de Harina para Fideos";
}

<div class="title-container-details">
    <h3 class="screen-title">Detalles del Consumo de Harina de Fideos</h3>
    <a href="/ConsumoHarinaFideo/Index" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-backward"></i> Regresar</a>

    <div class="info-child-screen-details">
        <div>
            <span class="bold">Año: </span> <span>@Model.fecha.ToString("yyyy", CultureInfo.GetCultureInfo("ES"))</span>
        </div>
        <div>
            <span class="bold">Mes: </span> <span>@Model.fecha.ToString("MMMM", CultureInfo.GetCultureInfo("ES")).ToUpper()</span>
    </div>
        <div>
            <span class="bold">CIUU: </span> <span>1071-ELABORACIÓN DE PRODUCTOS DE PANADERÍA</span>
        </div>

    <div>
        <span class="bold">Tonelada TMB: </span> <span>@Model.tonelada_tmb.ToString("0.0000", CultureInfo.InvariantCulture)</span>
                </div>


                <div>
                    <span class="bold">Activado: </span> <span>@Model.Activado</span>
                </div>




            </div>
        </div>


