@using Entity
@model Entity.EncuestaEstadistica

@{

}
@*@using (Html.BeginForm("Buscar", "EncuestaEstadistica", FormMethod.Post, new {name = "cap6form"}))
    {*@
<div class="panel panel-primary">
    @{
        var ch1 = Model.FactorProduccion.ProduccionNormal == 0 ? "hidden" : "";
        var v1 = Model.FactorProduccion.ProduccionNormal == 1 ? "true" : "false";
        var ch2 = Model.FactorProduccion.Incremento == 0 ? "hidden" : "";
        var v2 = Model.FactorProduccion.Incremento == 1 ? "true" : "false";
        var ch3 = Model.FactorProduccion.Decrecimiento == 0 ? "hidden" : "";
        var v3 = Model.FactorProduccion.Decrecimiento == 1 ? "true" : "false";
    }
    <div class="panel-heading">Capítulo VI: Factores que afectaron la producción</div>
    <div class="panel-body">
        <div class="col-md-4">
            <label>
                @if (Model.FactorProduccion.ProduccionNormal == 1)
                {
                    @Html.CheckBox("Producción Normal", new { disabled = "true", @checked = "true" })
                    <span>Producción Normal</span>
                }
                else
                {
                    <span>Producción Normal</span>
                }
            </label>
        </div>
        <div class="col-md-4">
            @if (Model.FactorProduccion.Incremento == 1)
            {
                @Html.CheckBox("Incremento", new { disabled = "true", @checked = "true" })
                <span>Incremento</span>
                <div id="divIncremento" class="clear">
                    @{
                        Html.RenderAction("FillFactoresIncrementoReadOnly");
                    }
                </div>
            }
            else
            {
                <label>
                    <span>Incremento</span>
                </label>
            }
        </div>
        <div class="col-md-4">

            @if (Model.FactorProduccion.Decrecimiento == 1)
            {
                @Html.CheckBox("Disminución", new { disabled = "true", @checked = "true" })
                <span>Disminución</span>
                <div id="divDecrecimiento" class="clear">
                    @{
                        Html.RenderAction("FillFactoresDecrecimientoReadOnly");
                    }
                </div>
            }
            else
            {
                <label>

                    <span>Disminución</span>
                </label>
            }
        </div>

    </div>

</div>
@*}*@

