@model Entity.EncuestaEstadistica
           
<h3>Agradecemos su valiosa colaboración con las estadísticas oficiales del país</h3>
<a href="/EncuestaEstadistica/Encuesta?idEncuesta=@Model.Id"> Click aqu&iacute; para ver la encuesta </a>
