@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Content/css")
@using (Html.BeginForm("Buscar", "GeneralEncuestaEstadistica", FormMethod.Post))
{
    <div class="panel panel-primary">
        <div class="panel-heading">1.Seleccione el &Aacute;mbito de An&aacute;lisis</div>
        <div class="row">
            <div class="col-md-12">
                <input id="btn-establecimiento" type="submit" value="Establecimiento" name="btn-establecimiento" class="btn btn-default" />
                <input id="btn-ciiu" type="submit" value="CIIU" name="btn-ciiu" class="btn btn-default" />
                <input id="btn-linea-producto" type="submit" value="LineaProducto" name="btn-linea-producto" class="btn btn-default" />

            </div>
            <div class="margin-top-5" >
                <div class="col-md-5">
                   
                    <input type="text" id="search-select-ecl" class="form-control reset-max-width" style="width:100%;" />

                        <select id="ecl" multiple="multiple" class="form-control reset-max-width" style="width:100%;">
                            <option value="1">Primero</option>
                            <option value="2">segundo</option>
                            <option value="3">tercero</option>
                            <option value="4">cuarto</option>
                            <option value="5">quinto</option>
                        </select>
                   
                </div>
                <div class="col-md-2">
                    
                        <a href="javascript:void(0)" id="option-to-right" class="form-control btn btn-default"  style="text-align:center;">>></a>
                    <a href="javascript:void(0)" id="option-to-left" class="form-control btn btn-default" style="text-align:center;"><<</a>
                   
                </div>
                <div class="col-md-5">
                  
                    <input type="text" id="search-select-ecls" class="form-control reset-max-width" style="width:100%;" />
                    <select id="ecls" multiple="multiple" class="form-control reset-max-width" style="width:100%;"></select>
                    

                </div>

            </div>
        </div>
       
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">2.Seleccione Variables</div>
        <div class="row">
            <div class="col-md-5">
                <div class="col-md-12">
                    <input type="radio" name="variable" value="VPMP" />
                    <span>Volumen de Producci&oacute;n con Materia Prima</span>
                </div>
                <div class="col-md-12">
                    <input type="radio" name="variable" value="VPMT" />
                    <span>Volumen de Producci&oacute;n con Materia de terceros</span>
                </div>
                <div class="col-md-12">
                    <input type="radio" name="variable" value="VAPMP" />
                    <span>Valor de Producci&oacute;n con Materia Prima</span>
                </div>
                <div class="col-md-12">
                    <input type="radio" name="variable" value="VAPMT" />
                    <span>Valor de Producci&oacute;n con Materia de terceros</span>
                </div>
                <div class="col-md-12">
                    <input type="radio" name="variable" value="VVP" />
                    <span>Valor de Ventas en el pa&iacute;s</span>
                </div>
                <div class="col-md-12">
                    <input type="radio" name="variable" value="VVE" />
                    <span>Valor de Ventas en el extranjero</span>
                </div>
                <div id="NT" class="col-md-12" hidden="hidden">
                    <input type="radio" name="variable" value="NT" />
                    <span>N&uacute;mero de Trabajadores</span>
                </div>
            </div> 
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        var eclCollection = [];
        var eclsCollection = [];
        var establecimiento = false;
          
        llenarArryWhitOptiosn('#ecl', eclCollection);
        llenarArryWhitOptiosn('#ecls', eclsCollection);
        $('btn-establecimiento').click(function () {
            var divNT = $('#NT');
            divNT.removeAttr('hidden');
           
            
        });
        $('#btn-ciiu').click(function () {
            var divNT = $('#NT');
            divNT.attr('hidden', 'hidden');
        });
        $('#btn-linea-producto').click(function () {
            var divNT = $('#NT');
            divNT.attr('hidden', 'hidden');
        });
        $('#option-to-right').click(function () {
            passOptionsFromSelect('#ecl', '#ecls', eclCollection, eclsCollection);
            sortOptionCollection(eclCollection);
            searchBy('#ecl', $('#search-select-ecl').val(), eclCollection);
            searchBy('#ecls', $('#search-select-ecls').val(), eclsCollection);
            
            
        }
            
            );
        $('#option-to-left').click(function () {
            passOptionsFromSelect('#ecls', '#ecl', eclsCollection, eclCollection);
            sortOptionCollection(eclsCollection);
            searchBy('#ecl', $('#search-select-ecl').val(), eclCollection);
            searchBy('#ecls', $('#search-select-ecls').val(), eclsCollection);            
            
           
        });
        $('#search-select-ecl').keyup(function () {
            sortOptionCollection(eclCollection);
            searchBy('#ecl', this.value, eclCollection);
            
            
        });

        $('#search-select-ecls').keyup(function () {
            sortOptionCollection(eclsCollection);
            searchBy('#ecls', this.value, eclsCollection);
            
        });
        /**
        Esta funcion se encarga de pasar os elemntos seleccionados, de un select para otro
        */
        function passOptionsFromSelect(idSelectFrom, idSelectTo,collectionFrom,collectionTo) {
            var indexI = 0;
            $(idSelectFrom+" option:selected").each(function (i, e) {
                if ($(idSelectTo + ' option').length > 0) {
                  
                    $(idSelectTo+' option').each(function (j, e1) {

                        if ($(e1).attr('value') > $(e).attr('value')) {

                            $(e).insertBefore(e1);
                            if (collectionFrom && collectionTo) {                                
                                collectionTo.splice(j, 0, e);                               
                                
                            }
                            return false;

                        } else if ($(idSelectTo+' option').length == (j + 1)) {
                            $(idSelectTo).append(e);
                            if (collectionFrom && collectionTo) {                                
                                collectionTo.push(e);
                               
                            }
                            
                        }

                    });
                } else {
                    $(idSelectTo).append(e);
                    if (collectionFrom && collectionTo) {                        
                        collectionTo.push(e);
                       
                    }
                    
                }
                var k=collectionFrom.indexOf(e);
                collectionFrom.splice(k, 1);

            });
        }
        /**
        Esta funcion llena los arreglos que son los que van a tener las colecciones de options de los selects
        */
        function llenarArryWhitOptiosn(idSelect, collection) {
            $(idSelect + ' option').each(function (i, e) {
                collection.push(e);
            });
        }
        /**
        Esta funcion se encarga de buscar los elemento en la collection que coinciden con los parametros de busqueda
        */
        function searchBy(idSelect,name,collection) {
            $(idSelect).find('option').remove().end();
            collection.forEach(function (e, i) {
                if (name != "") {
                    if ($(e).text().toLowerCase().indexOf(name.toLowerCase()) >-1) {
                        $(idSelect).append(e);
                    }
                } else {
                    $(idSelect).append(e);
                }
                
            });
        }
        /**
        ordena la collecion de options de menor a mayor por sus valores
        */
        function sortOptionCollection(collection) {
            collection.sort(function (e1, e2) {
                if ($(e1).val() < $(e2).val()) {
                    return -1;
                } else {
                    return 1;
                }

            });
        }

    });
</script>

