@using Entity
@model Domain.Query<Entity.Pregunta>

@{
    ViewBag.Title = "Pregunta";
}

@Scripts.Render("~/bundles/jquery")

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Alertas</strong>
        <div>
            @Html.ValidationSummary(false)
        </div>
    </div>

}



<h3 class="screen-title">Pregunta</h3>
@using (Html.BeginForm("Buscar", "Pregunta", FormMethod.Post))
{
    <div class="panel panel-primary">
        <div class="panel-heading">B&uacute;squeda</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">Texto</span>
                        @*<input type="text" class="form-control">*@
                        @Html.TextBoxFor(t => t.Criteria.Texto, new { @class = "form-control", style = "max-width:inherit !important;" })
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Buscar" name="buscarbtn" class="btn btn-default" />
                </div>
            </div>
        </div>


    </div>
}
<p>
    <a href="javascript:void(0);" id="add-btn" class="btn btn-primary btn-custom-add">Nueva Pregunta</a>
</p>
<div id="table-container">
    @Html.Partial("_Table", Model)
</div>



@*MODALS*@
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nueva Pregunta</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $.CreateItemOpenModal("add-btn", "editItem", "Pregunta");

    })
</script>


