@using Entity
@model Domain.Query<Entity.LineaProductoEstablecimiento>

@{
    ViewBag.Title = "Lineas de Productos por Establecimiento";
}

@Scripts.Render("~/bundles/jquery")


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Alertas</strong>
        <div>
            @Html.ValidationSummary(false)
        </div>
    </div>

}
<a href="/Establecimiento/Index" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-backward"></i> Regresar</a>
@{
    var name = "";
    if (Model != null && Model.Criteria != null && Model.Criteria.Establecimiento != null)
    {
        var se = string.Format("({0}-{1}-{2}-{3})", Model.Criteria.Establecimiento.Ruc, Model.Criteria.Establecimiento.RazonSocial, Model.Criteria.Establecimiento.Nombre, Model.Criteria.Establecimiento.IdentificadorInterno);
        name = se;
    }
    
}

<h3 class="screen-title">Lineas de Productos por Establecimiento @name</h3>

<p>
    <a href="javascript:void(0);" id="add-btn" class="btn btn-primary btn-custom-add">Nuevo Linea de Producto por Establecimiento</a>
</p>
<div id="table-container">
    @Html.Partial("_Table", Model)
</div>



@*MODALS*@
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nuevo Linea de Producto por Establecimiento</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $.CreateItemOpenModal("add-btn", "editItem", "LineaProductoEstablecimiento");

    })
</script>


