
@{
    ViewBag.Title = "_Table";
}
<table class="table table-striped table-hover table-bordered table-condensed tabla small margin-bottom-5">
    <thead>
        <tr class="cabecera">
            <th>CIIU</th>
            <th>ESTABLECIMIENTO</th>
            <th>PONDERACI&Oacute;N</th>
            @*@foreach (var item in Model.HeadersList)
            {
                <th>@item</th>
            }*@
        </tr>
    </thead>
</table> 

