<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=srvsqlp01;Initial Catalog=DB_GENERAL;User ID=ora_encuesta_manu;password=eG64aDZE;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebApplication-20141218122632.mdf;Initial Catalog=aspnet-WebApplication-20141218122632;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Entities" connectionString="metadata=res://*/ModelContext.csdl|res://*/ModelContext.ssdl|res://*/ModelContext.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=srvora04.produce.gob.pe)(PORT=1521)))(CONNECT_DATA =(SERVICE_NAME = oradesa)));User Id=usr_encuesta_manu;Password=eG64aDZE;POOLING=False;&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/ModelContext.csdl|res://*/ModelContext.ssdl|res://*/ModelContext.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA =(SERVICE_NAME = XE)));User Id=EEEE;Password=Sav2010;&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/ModelContext.csdl|res://*/ModelContext.ssdl|res://*/ModelContext.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=127.0.0.1/xe;PASSWORD=Administrator.;PERSIST SECURITY INFO=True;USER ID=TEST&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/ModelContext.csdl|res://*/ModelContext.ssdl|res://*/ModelContext.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEV01-PC/XE;PASSWORD=eG64aDZE;PERSIST SECURITY INFO=True;USER ID=USR_ENCUESTA_MANU_DEMO&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  
  <appSettings>
    
    <!-- Seguridad.PRODUCE -->
    <!--Aplication Variables-->
    <add key="IdApp" value="33" />
    <add key="TipoApp" value="E" />
    <add key="ControllerAccesoDenegado" value="Seguridad" />
    <add key="ActionAccesoDenegado" value="AccesoDenegado" />
    <!---->

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="identificadorInicialEstablecimiento" value="10" />

    <!--DATOS DEL SERVIDOR SMTP LOCAL-->
    <add key="SmtpUser" value="noreply.nyt@gmail.com" />
    <add key="SmtpPassword" value="n0r3ply1234" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpSsl" value="true" />

    <!--DATOS DEL SERVIDOR SMTP PRODUCE
    <add key="SmtpUser" value="demi@produccion.gob.pe" />
    <add key="SmtpPassword" value="produccion" />
    <add key="SmtpHost" value="192.168.100.36" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpSsl" value="false" />-->

    <!--DATOS DE ACCESO A LA BASE DE DATOS DE PRODUCE
    <add key="dataSource" value="SRVSQLP01" />
    <add key="catalog" value="DB_GENERAL" />
    <add key="user" value="ora_encuesta_manu" />
    <add key="password" value="eG64aDZE" />-->

    <!--DATOS DE ACCESO A LA BASE DE DATOS DE LOCAL-->
    <add key="dataSource" value="SEKAINEW-NNB" />
    <add key="catalog" value="UbigeoProduce" />
    <add key="user" value="sa" />
    <add key="password" value="1234" />

<!--DESCRIPCION DE LAS VISTAS -->
    <!--VISTA UBIGEO-->
    <!--Nombre de la vista-->
    <add key="ubigeo" value="UBIGEO" />
    <!--Nombre del campo UBIGEO. ESTE CAMPO TIENE QUE SER SEGUN EL FORMATO DDPPdd, donde DD corresponde al codigo del departamento
    PP al codigo de la provincia y dd al codigo del distrito-->
    <add key="ubigeo.ubigeo" value="UBIGEO" />
    <!--Nombre del campo DEPARTAMENTO-->
    <add key="ubigeo.departamento" value="DEPARTAMENTO" />
    <!--Nombre del campo PROVINCIA-->
    <add key="ubigeo.provincia" value="PROVINCIA" />
    <!--Nombre del campo DISTRITO-->
    <add key="ubigeo.distrito" value="DISTRITO" />
    
    <add key="idrol_administrador" value="57" />
    <add key="idrol_analista" value="58" />
  </appSettings>
  
  <system.web>
    <customErrors mode="Off" />
    <!-- Seguridad.PRODUCE -->
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880" />
      <!--<forms loginUrl="https://desistemas.produce.gob.pe/" timeout="20" domain="produce.gob.pe" cookieless="UseCookies" />-->
    </authentication>
    <machineKey validationKey="FA81568118496BFFF2F83FA422CEFE29C2B261A30DC851E7BDCFEF05822C6ABE406FEECE9919AFAB0244E9F6C73BBDF1F5FE9FA716AE115B6374E527E4C6F9E8" decryptionKey="789CFE59E25EEA3BC20613DBEB8AA50871015656EC33475FE9E505D097E7A841" validation="SHA1" decryption="AES" />    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear />
        <add name="MyMembershipProvider" type="WebApplication.Providers.CustomMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="WebApplication.Providers.CustomRoleProvider" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="MyProfileProvider">
      <providers>
        <clear />
        <add name="MyProfileProvider" type="WebApplication.Providers.CustomProfileProvider" />
      </providers>
    </profile>
    <globalization uiCulture="es-PE" culture="es-PE" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.1" newVersion="2.1.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity" />
    </providers>-->
  </entityFramework>
  <!--<system.data>
    <DbProviderFactories>
       Remove in case this is already defined in machine.config 
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver"
           invariant="Oracle.ManagedDataAccess.Client"
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.112.3.50, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>-->
</configuration>