@using Entity
@model Domain.Query<Entity.AñoBase>
@{
    ViewBag.Title = "Año Base";
    
}
@Scripts.Render("~/bundles/jquery")
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Alertas</strong>
        <div>
            @Html.ValidationSummary(false)
        </div>
    </div>

}
<h3 class="screen-title">Año Base</h3>
@using (Html.BeginForm("Buscar", "AñoBase", FormMethod.Post))
{
    <div class="panel panel-primary">
        <div class="panel-heading">B&uacute;squeda</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Establecimiento</span>
                        @{Html.RenderAction("GetDorpDown", "Establecimiento", new { id = (Model != null && Model.Criteria != null) ? Model.Criteria.id_establecimiento : 0, nombre = "Criteria.id_establecimiento", @default = "Todos" });}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">CIIU</span>
                        <div id="drop-ciiu">
                            @{Html.RenderAction("GetDorpDownEstablecimiento", "CIIU", new { id = (Model != null && Model.Criteria != null) ? Model.Criteria.id_ciiu : 0, nombre = "Criteria.id_ciiu", @default = "Todos", idEstablecimiento = (Model != null && Model.Criteria != null) ? Model.Criteria.id_establecimiento : 0 });}
                            
                        </div></div>
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Buscar" name="buscarbtn" class="btn btn-default" />
                </div>
            </div>
        </div>


    </div>
}

<p>
    <a href="javascript:void(0);" id="add-btn" class="btn btn-primary btn-custom-add">Nuevo Año Base</a>
</p>
<div id="table-container">
    @Html.Partial("_Table", Model)
</div>

@*MODALS*@
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" acction="new">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">title</h4>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>
@{var idCiiu=(Model != null && Model.Criteria != null) ? Model.Criteria.id_ciiu : 0;}
<script type="text/javascript">

    $(document).ready(function () {
        $("#add-btn").click(function () { $("#editItem").attr("acction", "new"); });
        $.CreateItemOpenModal("add-btn", "editItem", "AñoBase", "", "Nuevo Año Base");

        $("#Criteria_id_establecimiento").on("change", function (e) {
            $.getDropDrown("/CIIU/GetDorpDownEstablecimiento/", { "id": "@idCiiu", "nombre": "Criteria.id_ciiu", "default": "Todos", "idEstablecimiento": $("#Criteria_id_establecimiento").val() }, "#drop-ciiu");
        });
    })
</script>


